# ==========平台==========
.DS_Store

# ==========IDE==========
.vscode

# ==========通用==========
build
build_release
build.zip
build_release.zip

# ==========C++==========
*.exe
compile_commands.json
.cache
